.note{
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: var(--xs);
  border-radius: 8px;
  border:  3px solid black;
  font-family: "regular";
}

.note__content{
  height: 100%;
  min-height: 100px;
  word-break: break-all;
}

.note__line{
  display: block;
}

.note__info{
  display: flex;
  align-items: center;
}

.note__date{
  align-self: flex-end;
}

.note__btn{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: grid;
  place-content: center;
}

.note__actions{
  width: 100%;
  gap: var(--xs);
  display: flex;
  justify-content: flex-end;
}

.note__btn.primary{
  background-color: black;
  border: none;
  color: white;
}

.note__btn.secondary{
  background-color: transparent;
  border: 3px solid black;
  color: black;
}